module AuthAC
    DB_VENDOR = 'Pg'
    # VENDOR = 'Mysql'
    DB_NAME = 'mydatabase'
    DB_HOST = 'localhost'
    DB_USER = 'authuser'
    DB_PASSWORD = 'secretpassword'
    
    MIN_PASSWORD_LENGTH = 4
    
    AUTH_BASE_URL = '/auth'
    ACCESS_BASE_URL = '/access'
end